


body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background-image: url("background.jpg");

  }
header{
  min-height: 15vh;
 } 
main{flex-grow: 1;} 
footer{
  min-height: 10vh;
 }

 .mining{
  height: 50vh;
}
.shadow-gold{
  box-shadow: 0 0 3px 3px goldenrod;
}
 
 .goldNugget{
   height: 4vh;
 }

 .tools{
   height: 4vh;
 }

 .disable-dbl-tap-zoom {
   touch-action: manipulation
 }

 .title-font{
  font-family: 'Monoton', cursive;
  font-size: 10vh;
  color: goldenrod
 }

 .trans-bg{
   background-color: rgba(82, 76, 76, 0.452)
 }

 .body-font{
   font-family: 'Press Start 2P', cursive;
   color: goldenrod
 }